.l {float: left;}
.r {float: right;}
.dib {display: inline-block;}
.w70{ width:70%;}
.w30{ width:30%;}
.tac{ text-align: center;}

header {
    height: 60px;
    margin-bottom: 20px;
}

footer {
    clear: both;
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #ddd;
    height: 30px;
    padding: 5px 0;
}

.content {
    min-height: 450px;
}

.container {
    margin: 40px auto;
    width: 900px;
}

.header-contact {
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-contact p{
    margin: 0px;
}
