body{
    background-color: #FFF;
}

.container {
    min-height: 450px;
    width: 100%;
}

#name-header{
    text-align:center;
    margin: 50px auto;
    font-size:36px;
    font-weight:bold;
    color: #01939A;
    min-height: 70px;
}

#links-ul { 
    list-style-type:none;
    margin:auto;
    padding:0;
    height:30px;
    font-family:Arial;
    font-size:0.9em;
    width: 440px;
}
#links-ul li {
    float:left;
    height:30px;
    line-height:30px;
    text-align:center;
}
#links-ul li a {
    display:block;
    color: #06266F;
    padding:0 20px;
    text-decoration:none;
}
#links-ul li a:hover {
    font-size:16px;
    color: #1240AB;
    text-decoration:none;
}
