header {
    height: 100px;
}

footer {
    clear: both;
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #ddd;
    height: 30px;
    padding: 5px 0;
}

.content {
    min-height: 450px;
}

.container {
    margin-top: 40px;
    margin-bottom: 40px;
}
