<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jinesh Narayanan</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"/>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="header-name w70 l">
            <h1><a href="/">Jinesh Narayanan</a></h1>
        </div>
        <div class="header-contact w30 r">
            <p><strong>Email:</strong>jineshpaloor@gmail.com</p>
            <p><strong>Mobile:</strong> 07208384714</p>
        </div>
      </header>
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li class="divider-vertical"></li>
              <li><a href="#">About</a></li>
              <li class="divider-vertical"></li>
              <li><a href="#">Blog</a></li>
              <li class="divider-vertical"></li>
              <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a tabindex="-1" href="#">Graph-Coloring</a></li>
                        <li><a tabindex="-1" href="#">Find Shortest Path</a></li>
                        <li><a tabindex="-1" href="#">Url Shortening</a></li>
                    </ul>
              </li>
              <li class="divider-vertical"></li>
              <li><a href="#">Social</a></li>
              <li class="divider-vertical"></li>
              <li><a href="#">Resume</a></li>
            </ul>
          </div>
      </div>
      {% block content %}{% endblock %}
      <footer></footer>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-dropdown.js') }}"></script>
    <script type="text/javascript">
        $('.dropdown-toggle').dropdown();
    </script>
  </body>
</html>
