<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jinesh Narayanan</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"/>
  </head>
  <body>
    <div class="container">
        <div class="content">
            <div id="name-header">Jinesh Narayanan</div>
            <div id="body-content">
                <p>I am Jinesh, Web developer/Programmer from Paloor(Kerala,India).I am a Linux fan and a FOSS enthusiast. Python is my 
                favorite programming language. At present I am working as a web developer at 
                <a href="http://kodeplay.com" target="_blank">Kodeplay</a>. I am interested in any context of programming applications. </p>
                <h4 class="tm20">My Key Skill set include</h4>
                <ul>
                    <li>Python</li>
                    <li>Django</li>
                    <li>Javascript</li>
                    <li>Html/CSS</li>
                    <li>MongoDB</li>
                </ul>
                <p>Please see my resume for complete information</p>
            </div>
            <div class="links">
                <ul id="links-ul">
                  <li><a href="http://jineshpaloor.wordpress.com" target="_blank">Blog</a></li>
                  <li><a href="https://github.com/jineshpaloor" target="_blank">Github</a></li>
                  <li><a href="https://bitbucket.org/jinesh_paloor" target="_blank">Bitbucket</a></li>
                  <li><a href="https://docs.google.com/open?id=0BxBFOEqXOcTwY3YzSE9EeFpYTjQ" target="_blank">Resume</a></li>
                </ul>
            </div>
        </div><!-- content -->
    </div>
  </body>
</html>
