{% extends "base.html" %}

{% block sidebar_content %}
<p>Sidebar content</p>
    <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown trigger</a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a tabindex="-1" href="#">Blog</a></li>
            <li><a tabindex="-1" href="#">Projects</a></li>
            <li><a tabindex="-1" href="#">Graph-Coloring</a></li>
            <li><a tabindex="-1" href="#">Find Shortest Path</a></li>
            <li><a tabindex="-1" href="#">Url Shortening</a></li>
            <li><a tabindex="-1" href="#">Social</a></li>
        </ul>
    </div>
{% endblock %}
{% block body_content %}
 <p> Welcome to my website</p>

{% endblock %}
